.group-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 40px;
}

.group-button {
  text-decoration: none;
  /* background-color: var(--color-primary); */
  background-color: transparent;
  color: var(--color-text);
  /* border-radius: 100px; */
  /* border: none; */
  border: 3px solid var(--color-text);
  font-size: 20px;
  /* font-weight: 600; */
  padding: 17px 36px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  cursor: pointer;
  min-width: 250px;
  border-left: none;
  border-right: none;
  display: flex;
  gap: 30px;
}

.group-button:first-of-type {
  border-radius: 30px 0 0 30px;
  border-right: none;
  border-left: solid;
}

.group-button:last-of-type {
  border-radius: 0 30px 30px 0;
  border-left: none;
  border-right: solid;
}

.group-button-selected {
  border-bottom-color: #d53f8c;
  border-top-color: #d53f8c;
  color: #d53f8c;
}

button i {
  color: #a0aec0;
  margin-right: 0.3em;
  transition: all 0.2s ease-out;
}
.multi-button:hover button {
  color: #a0aec0;
}

.multi-button:hover button:hover {
  background: #d53f8c;
  color: #fff;
  box-shadow: 0 0 0.8em 0 rgba(213, 63, 140, 0.8);
  transform: translateY(-0.2em);
}
.multi-button:hover button i {
  color: #cbd5e0;
}
.multi-button:hover button:hover i {
  color: #fed7e2;
  transform: rotate(-10deg);
}

svg {
  padding-top: 7px;
  margin-right: 10px;
}

@media screen and (max-width: 830px) {
  .group-button {
    border-left: solid;
    border-right: solid;
    border-bottom: none;
    border-top: none;
  }

  .group-button:first-of-type {
    border-radius: 30px 30px 0 0;
    border-right: solid;
    border-bottom: none;
    border-top: solid;
  }

  .group-button:last-of-type {
    border-radius: 0 0 30px 30px;
    border-left: solid;
    border-bottom: solid;
  }

  .group-buttons {
    flex-direction: column;
  }
}
