.social {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.social-image-container {
  background-color: var(--color-special);
  border-radius: 100%;
  /* border: 3px solid var(--color-special); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.social-image-container img {
  width: 30px;
}
