.social {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.social-image-container {
  background-color: var(--color-special);
  border-radius: 100%;
  /* border: 3px solid var(--color-special); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  width: 3.8rem;
  height: 3.8rem;
}

.social-image-container:hover {
  background-color: var(--color-1);
}

.social-image-container svg {
  color: black;
  font-size: var(--font-l);
  padding: 5px;
}
