.hero-container2 {
  /* position: relative; */
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  align-items: center;
  justify-content: space-between;
  /* gap: 25px; */
  /* margin-top: 80px; */
  /* margin-bottom: 200px; */
  /* margin-left: 10%;
  margin-right: 10%; */
  /* height: 100vh; */
  z-index: 1;
  margin: 0;
  height: 100vh;
}

.hero-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  z-index: 1;
  /* margin-top: 120px; */
  /* padding: 10rem; */
  width: 50vw;
  padding-left: 3rem;
}

/* .hero-img {
  height: 110px;
} */

.hero-title {
  font-size: var(--font-xl);
  font-family: var(--font-roboto);
  font-weight: 900;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: var(--font-l);
  font-family: var(--font-roboto);
  margin-bottom: 1.5rem;
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  color: rgb(220, 220, 220);
}

.hero-technologies {
  font-size: var(--font-l);
  font-weight: bold;
  color: var(--color-special);
  margin-bottom: 3rem;
}

.hero-img-container {
  width: 50vw;
  overflow: hidden;
  border-radius: 20% 0 0 60%;
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 830px) {
  .hero-container {
    /* flex-direction: column-reverse; */
    align-items: center;
    margin-top: -50px;
  }

  .hero-content2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .hero-img-container {
    display: none;
  }
}
