.my-input {
  flex-grow: 1;
  margin: 15px;
}

.my-input input {
  background: transparent;
  border: 2px solid;
  border-color: var(--color-text);
  border-radius: 10px;
  padding: 15px;
  /* font-size: 25px; */
  font-size: var(--font-m);
  font-family: var(--font-roboto);
  font-weight: 500;
  color: var(--color-text);
  width: 100%;
}

.input-error {
  margin: 0.2rem;
  color: rgb(200, 50, 50);
}
