.navbar {
  position: fixed;
  z-index: 2;
}

.menu-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 0 0 100% 0;
  background-color: var(--color-bg);
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-color: var(--color-special);
  opacity: 0.95;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  position: relative;
}

.menu-btn-box-open {
  width: 300px;
  height: 700px;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  left: 30px;
  top: 45px;
}

.menu {
  position: absolute;
  left: 0;
  top: 130px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 24px 33px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  list-style: none;
}

.menu-items a {
  font-size: 25px;
  text-decoration: none;
  color: var(--color-text);
}

.menu-items a:hover {
  color: var(--color-special);
}

.go-to-top {
  width: 60px;
  height: 60px;
  border: 2px solid var(--color-text);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.go-to-top svg {
  color: var(--color-text);
  font-size: var(--font-l);
  padding: 3px;
}

.go-to-top:hover {
  background-color: var(--color-special);
}

@media screen and (max-width: 830px) {
  .menu-btn-box {
    width: 100px;
    height: 100px;
  }

  .menu-btn-box-open {
    width: 300px;
    height: 600px;
  }

  .menu-btn {
    left: 20px;
    top: 20px;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 100px;
  }
}
