.footer {
  color: var(--color-text);
  /* background-color: var(--color-dark); */
}

.footer-container {
  padding: 60px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 100px; */
  max-width: 1400px;
}

@media screen and (max-width: 830px) {
  .footer-container {
    padding: 0px;
    flex-direction: column;
    justify-content: center;
  }

  .footer-contact {
    text-align: center;
    padding: 20px;
  }

  .footer-logo {
    display: none;
  }
}
