.footer {
  color: var(--color-text);
  padding: 50px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 100px; */
  max-width: 1400px;
}

.footer-text {
  font-size: var(--font-m);
  color: rgb(200, 200, 200);
  padding: 1rem;
  margin-bottom: 1rem;
}

.footer-logo {
  padding: 1rem;
}

@media screen and (max-width: 830px) {
  .footer {
    padding: 0px;
    flex-direction: column;
    justify-content: center;
  }
}
