.price-list {
  /* width: 50%; */
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
}

@media screen and (max-width: 830px) {
  .price-list {
    width: 100%;
    gap: 18px;
  }
}
