:root {
  /* Responsive */
  font-size: 16px;
  scroll-behavior: smooth;

  /* Colors */
  --color-text: #fff;
  --color-primary: #fff;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #2d0426;
  --color-special: coral;
  --color-special: #d53f8c;

  /*Kity Colors*/
  --color-1: #edd9da;
  --color-2: #fcf8f9;
  --color-3: #fbebeb;
  --color-gradient: linear-gradient(90deg, #934c4c 0%, #f5b3a3 100%);

  /* Fonts */
  --font-roboto: "Roboto";
  --font-xl: 4.2rem;
  --font-l: 2.5rem;
  --font-m: 1.5rem;
  --font-sm: 1.2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--font-m);
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  /* font-family: "Roboto"; */
  /* color: var(--color-text); */
}

.App {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
}

.color-special {
  color: var(--color-special) !important;
}

.section-title {
  color: var(--color-text);
  font-size: var(--font-l);
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.4;
  margin-bottom: 30px;
  margin-top: 150px;
}

.container {
  color: var(--color-text);
  margin: auto;
  margin-top: 80px;
  max-width: 1400px;
  background-color: #2d0426;
}

/* .top-blur {
  position: absolute;
  width: 40vw;
  height: 40vw;
  min-width: 350px;
  min-width: 350px;
  top: 100px;
  left: 5vw;
  border-radius: 764px;
  background: rgba(89, 25, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
} */

@media screen and (max-width: 1024px) {
  :root {
    font-size: 14px;
  }

  .container {
    max-width: 95%;
    margin-top: 0px !important;
  }

  .section-title {
    margin-bottom: 30px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    font-size: 14px;
  }
}
